:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --text-color: rgba(241, 178, 206, 1);
  --tittle-text-color: rgba(0, 0, 40, 1);
  --accent-color-tittle: rgba(219, 0, 255, 1);

  .header__theme-menu-button {
    color: var(--accent-color);
  }

  .content__section-tittle {
    color: var(--accent-color);
  }

  .header__decorated-text {
    display: inline;
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--accent-color);
  }

  .header__theme-menu-button:hover {
  outline: rgba(255, 0, 112, 0.4) solid 1px;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: var(--accent-color) 1px solid;
  }

  .decorated-zone::before {
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
  }
}
