:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: rgba(255, 241, 247, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --text-color: rgba(53, 52, 48, 1);
  --tittle-text-color: rgba(53, 52, 48, 1);
  --accent-color-tittle: rgba(255, 194, 230, 1);
  --accent-color-additional: rgba(53, 52, 48, 1);
  --outline-color: rgba(50, 49, 45, 0.4);

  .header__decorated-text {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgba(255, 241, 247, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --text-color: rgba(53, 52, 48, 1);
    --tittle-text-color: rgba(53, 52, 48, 1);
    --accent-color-tittle: rgba(255, 194, 230, 1);
    --accent-color-additional: rgba(53, 52, 48, 1);
    --outline-color: rgba(50, 49, 45, 0.4);

    .header__decorated-text {
      display: none;
    }
  }
}
