:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: rgba(255, 241, 247, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --text-color: rgba(53, 52, 48, 1);
  --tittle-text-color: rgba(53, 52, 48, 1);
  --accent-color-tittle: rgba(255, 194, 230, 1);

  .header__decorated-text {
    display: none;
  }

  .decorated-zone::before {
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--text-color);
  }

  .header__theme-menu-button:hover {
    outline: rgba(50, 49, 45, 0.4) solid 1px;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: var(--text-color) 1px solid;
  }

  .content__section-tittle {
    color: var(--tittle-text-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgba(255, 241, 247, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --text-color: rgba(53, 52, 48, 1);
    --tittle-text-color: rgba(53, 52, 48, 1);
    --accent-color-tittle: rgba(255, 194, 230, 1);

    .header__decorated-text {
      display: none;
    }

    .decorated-zone::before {
      border-top: 1px solid var(--text-color);
      border-right: 1px solid var(--text-color);
    }

    .decorated-zone::after {
      border-bottom: 1px solid var(--text-color);
      border-left: 1px solid var(--text-color);
    }

    .header__theme-menu-button {
      color: var(--text-color);
    }

    .header__theme-menu-button_active {
      outline: 1px solid var(--text-color);
    }

    .header__theme-menu-button:hover {
      outline: rgba(50, 49, 45, 0.4) solid 1px;
    }

    .header__theme-menu-button:focus-visible {
      border-bottom: var(--text-color) 1px solid;
    }

    .content__section-tittle {
      color: var(--tittle-text-color);
    }
  }
}
