.page {
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  font-weight: var(--font-weight);
  padding: 0 10px;
}

.header {
  block-size: 100vh;
  min-block-size: 658px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.header__decorated-text {
  font-size: inherit;
  font-weight: inherit;
  color: var(--accent-color);
  position: absolute;
  top: 10px;
  right: 19px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  display: inline-block;
  width: 25.04px;
  height: 25px;
  position: absolute;
}

.decorated-zone::before {
  border-top: 1px solid var(--accent-color-additional);
  border-right: 1px solid var(--accent-color-additional);
  top: 10px;
  right: 0;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--accent-color-additional);
  border-left: 1px solid var(--accent-color-additional);
  bottom: 10px;
  left: 0;
}

.header__decorated-text::after {
  content: "";
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px rgba(255, 0, 112, 1);
  position: relative;
  top: -2px;
  right: -10px;
  display: inline-block;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  grid-row: 1;
  margin-block-end: -7px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color-additional);
}

.header__theme-menu-item:not(:last-child) {
  margin-block-end: 11px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: var(--accent-color-additional) 1px solid;
  outline: none;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color-additional);
  font-weight: inherit;
  text-transform: lowercase;
  border: none;
  padding-inline: 13px;
  cursor: pointer;
}

.main-tittle {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--accent-color-tittle);
  font-weight: var(--font-weight-bold);
  justify-self: center;
  align-self: center;
}

.header__tittle {
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-row: 2;
}

.main-tittle-text {
  font-weight: var(--font-weight-bold);
  grid-row: 3;
  justify-self: center;
  align-self: center;
  white-space: pre-line;
  margin-block-end: 11px;
  color: var(--tittle-text-color);
  font-size: inherit;
  line-height: 1.3;
}

.title-decor {
  background-color: var(--accent-color);
}

.content {
  margin-block: 40px;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-template-rows: min-content;
  color: var(--text-color);
  font-size: inherit;
  margin-block-end: 50px;
  line-height: 1.3;
}

.content__section-tittle,
.card__tittle {
  font-size: inherit;
  line-height: 1.3;
  font-weight: var(--font-weight-bold);
}

.content__section-tittle {
  color: var(--accent-color-additional);
}

.card__tittle {
  color: var(--tittle-text-color);
  margin-block-end: 10px;
}

.tittle-better-concentrate-advices {
  margin-block: 0;
}

.tittle-regular-weight {
  font-weight: var(--font-weight);
}

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
  cursor: default;
}

.card__text-link:hover {
  border-bottom: 1px solid currentColor;
}

.card__text-link:focus {
  outline: none;
}

.card__text-link:focus-visible {
  outline: var(--text-color) 1px solid;
}

.content__gallery {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 10px;
  margin-block-end: 0;
}

.content__gallery-image {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.card__tittle-images {
  margin-block-end: 0;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.footer__tittle {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .page {
    padding: 0 20px;
  }

  .header {
    min-block-size: 1024px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
  }

  .header__decorated-text {
    top: 20px;
    right: 19px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 0;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 0;
  }

  .header__theme-menu {
    justify-self: end;
    grid-column: 2;
    margin-block-end: -17px;
  }

  .main-tittle {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
    grid-column: 1 / 3;
  }

  .header__tittle {
    grid-row: 2;
    margin-left: -20px;
  }

  .main-tittle-text {
    grid-column: 2 / 3;
    justify-self: end;
    margin-block-end: 22px;
  }

  .content {
    margin-block: 60px;
  }

  .card {
    grid-column: 2 / 3;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
    margin-block-end: 80px;
  }

  .tittle-low-concentrate {
    grid-row: 1;
    grid-column: 1 / -1;
    padding-inline-end: 75vi;
  }

  .card-low-concentrate-multitasking {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .card-low-concentrate-food {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }

  .card-low-concentrate-gadgets {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
  }

  .card-low-concentrate {
    margin-block-end: 2px;
  }

  .content__better-concentrate {
    grid-template-rows: 23px min-content;
  }

  .content__gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    gap: 20px;
    margin-block-end: 0;
  }

  .content__gallery-image {
    height: 100%;
    object-fit: cover;
  }

  .card__tittle-images {
    grid-column: 1 / 4;
    grid-row: 1;
    margin-block-end: 0;
  }

  .content__gallery-image-sunset {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .content__gallery-image-ice-cream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .content__gallery-image-tape {
    grid-column: 1 / 2;
    grid-row: 3 / 6;
  }

  .content__gallery-image-books {
    grid-column: 2;
    grid-row: 3;
  }

  .content__gallery-image-street {
    grid-column: 2 / 4;
    grid-row: 4 / 6;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer__tittle {
    justify-self: center;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 11px;
    margin-block-start: 19px;
  }

  .tittle-low-concentrate {
    grid-row: 1;
    grid-column: 1 / -1;
    white-space: pre-line;
    padding-inline-end: 0;
  }

  .content__low-concentrate {
    grid-template-columns: repeat(3, minmax(315px, 1fr));
  }

  .card {
    grid-column: 2 / 4;
  }

  .card-low-concentrate-multitasking {
    grid-row: 2;
    grid-column: 1;
  }

  .card-low-concentrate-food {
    grid-row: 2;
    grid-column: 2;
  }

  .card-low-concentrate-gadgets {
    grid-row: 2;
    grid-column: 3;
  }

  .tittle-better-concentrate-advices {
    grid-column: 2 / 4;
  }

  .card__tittle-images {
    margin-block-end: 0;
  }

  .footer {
    min-block-size: 768px;
  }
}
