:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgba(0, 0, 40, 1);
  --tittle-text-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --text-color: rgba(241, 178, 206, 1);  
  --main-text-size: 18px;
  --main-font-family: 'IBM Plex mono', sans-serif;
  --font-weight: 400;
  --font-weight-bold: 700;
  --accent-color-tittle: rgba(219, 0, 255, 1);
}

